@import 'styles/Variables';

.post-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 5rem;
  row-gap: 2rem;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-small) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.post-title{
  font-size: 20px;
  text-align:left;
  font-weight:normal;
}

.info {
  font-size: 2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.container {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1rem;
  padding: 0 2rem;
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;

  a:hover,
  a:focus {
    color: var(--color-primary);
  }
}

.image {
  width: 100%;
  margin: 0;
  height: auto;
  object-fit: cover;
}

.image-holder {
  border: none; // Add this line to remove any border around the images
  margin-bottom: -9rem;

  @media (min-width: $breakpoint-small) {
    aspect-ratio: 1 / 1;
  }
}
