.aaronBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: green;
}

.leftColumn {
    display: flex; // Added
    justify-content: flex-end; // Added
    flex-basis: 50%;
    color: #fff;
    padding:1rem;
}

.rightColumn {
    display: flex; // Added
    justify-content: flex-start; // Added
    flex-basis: 50%;
    padding:1rem;
}

.button {
    padding: 1rem 2rem;
    margin-left: 1rem; // To create a little space between text and button
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #ccc;
}
