.aaronBanner {
    display: flex;
    justify-content: center;
    padding: .5% 0;
    background-color: #25a45c;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.leftColumn {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    padding-top: 10px;
}

.rightColumn {
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
}

.button {
    width: 155px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem; // Adjust the padding
    margin-left: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #ccc;
}
