.custom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-col {
  flex: 0 0 25%;
  max-width: 25%;
}

.content-col {
  flex: 1;
}

@media (max-width: 767.98px) {
  .content-col {
    margin-top: 20px;
  }
}
