@import 'styles/Variables';

.hero {
  background-color: #e5eaf4;
  padding: 15px 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .leftCol,
  .rightCol {
    flex: 1;
    padding: 0 20px;
    width: 50%;
  }

  .rightCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .imageWrapper {
    .image {
      max-width: 100%;
      height: auto;
    }
  }

  .content {
    .heading {
      margin-bottom: 20px;
      font-size: 1.5rem; // Added font-size
    }

    .text {
      margin-bottom: 20px;
    }
  }

  .button {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #34a853;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 228px;
    height: 34px;
    text-align: center;
    display: inline-block;

    &:hover {
      background-color: darken(#34a853, 10%);
    }
  }

  @media (max-width: $breakpoint-medium) {
    .leftCol,
    .rightCol {
      width: 100%; // Stacks the columns
    }
  }

  @media (max-width: $breakpoint-small) {
    .content {
      .heading {
        font-size: 1.2rem; // Smaller font-size for small screens
      }
    }
  }
}
