.hero {
  background-color: #e5eaf4;
  padding: 15px 0; // Changed padding for top and bottom

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .leftCol,
  .rightCol {
    flex: 1;
    padding: 0 20px;
    width: 50%;
  }

  .rightCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .imageWrapper {
    .image {
      max-width: 100%;
      height: auto;
    }
  }

  .content {
    .heading {
      margin-bottom: 20px;
    }

    .text {
      margin-bottom: 20px;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;

      .button {
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px 20px;
        background-color: #34a853; // Changed to the same green as the AaronBanner
        color: #fff;
        border: none;
        cursor: pointer;
        width: 228px; // Updated width
        height: 34px; // Updated height
        line-height: 34px; // Added to vertically center text in the button
        text-align: center; // Added to horizontally center text in the button
        display: inline-block; // Added to apply the width and height properties

        &:hover {
          background-color: darken(#34a853, 10%); // Darken the green color on hover
        }
      }
    }
  }
}
